@font-face {
    font-family: 'Franklin Gothic';
    src: url('../FranklinGothic-Medium.eot');
    src: url('../FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../FranklinGothic-Medium.woff2') format('woff2'),
        url('../FranklinGothic-Medium.woff') format('woff'),
        url('../FranklinGothic-Medium.ttf') format('truetype'),
        url('../FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
body{
    font-family:sans-serif;
}
nav{
    /*width: 100%;*/
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}
.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    float: left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
    font-family: 'Franklin Gothic', sans-serif;
}
main.start{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards; 
    opacity: 0;
}
.white-btn:visited{
    color: white;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 93% 100%/auto 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.title_container h1{
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.title_container h4{
    margin-top: 20px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 30px 14px 0px 14px;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e88604;
}
.menu li a:active{
    transform: scale(0.9)
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1)
}
.title_container input:hover{
    background-color: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(0.9)
}
@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
@media (max-width:991px){
    .title_container, .title_container h4, .title_container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
    .title_container input{
         border: 2px solid white;
    }
}
.main1{
    margin: 70px 0px;
    text-align: center;
}
.inf h2{
    font-size: 25px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700;
}
.inf img{
    margin: 60px 0px 20px;
}
.inf p{
    color: #3f495a;
    display: flex;
    text-align: left;
}
.inf input{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    background: url(../img/resume.png) 8px no-repeat;
    color: #6d7682;
    font-size: 13px;
    padding-left: 15px; 
    transition: 0.2s;
    transform: scale(1)
}
.inf input:hover{
    background-color: #344051;
    color: #fff;
}
.inf input:active{
    transform: scale(0.9)
}
@media (max-width:768px){
    .inf p{
        font-size: 20px;
    }
    .inf input{
        width: 180px;
        height: 50px;
        font-size: 18px;
    }
}
.header1{
    background: url(../img/bg2.jpg) center/cover no-repeat;
}
.icons{
    text-align: center;
    font-size: 40px;
    padding: 15px;
}
.header1 h2{
    text-align: center;
    margin: 60px 0px 100px;
    padding-top: 70px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700;
}
ul.test {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.list1 li{
    /*width: 600px;*/
    margin: 0px 35px;
    line-height: 18px;
    color: #3f495a;
}
.list1 h4{
    font-size: 17px;
    font-weight: 600;
    color: #cf7600;
    padding-bottom: 10px;
}
.list1 p::first-letter{
    font-size: 20px;
    color: #cf7600;
}
@media (max-width: 992px){
    ul.test{
        text-align: left;
    }
}

.header2 h2{
    text-align: center;
    margin: 60px 0px 30px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700;
}
.main2 span{
    color: #3f495a;
}
.left{
    float: left;   
}
.left h3{
    font-size: 16px;
    font-weight: 600;
    color: #384354;
}
.left input{
    background-color: #63b5ae;
    margin: 8px 0px 0px 0px;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    color: #fff; 
    transform: scale(1);
    transition: 0.2s;
}
.right h3{
    font-size: 16px;
    font-weight: 600;
    color: #384354;
    
}
.right span{
    line-height: 18px;
}
.left a:visited{
    color: #63b5ae;
}
.left input:active{
    transform: scale(0.9);
}
.left input:hover{
  background-color: #85d6cf;  
}
.box{
    box-shadow:
        inset rgba(0,0,0,0.2) 0 -3px 8px,
        inset rgba(252,255,255,0.7) 0 3px 8px,
        rgba(0,0,0,0.2) 0 3px 8px -3px;
    
}
.header3 h2{
    text-align: center;
    margin: 100px 0px 30px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
}
.form h3{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1c2534;
    margin: 20px 0px 10px;  
}
.form select{
    width: 100%px;
    height: 40px;
    background-color: #eee;
    padding: 0px 15px;
    transition: all 0.2s;
}
.text{
    text-align: center;
}
.text span{
    color: #1c2534;
    font-weight: 600;
    display: flex;
    text-align: left;
}

.cost input{
    background-color: #00b6af;
    color: #fff;
    height: 30px;
    width: 140px;
    border-radius: 5px;
    margin: 25px 0px 35px;
    transform: scale(1);
    transition: 0.2s;
}
.cost input:active{
    transform: scale(0.9);
}
.cost input:hover{
    background-color: #6dc7c4;
}
.form select:hover{
    background-color: lightgray;
}

.header4{
    background: url(../img/bg3.jpg) center/cover no-repeat fixed;
    margin: 210px 0px 300px;
}
.icons2{
    text-align: center;
    font-size: 50px;
    padding: 15px;
    color: #e97e00;
}
.header4 h2{
    text-align: center;
    margin: -180px 0px 80px;
    padding-top: 70px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700;
}
ul.test1 {
    display: flex;
    text-align: center;
    padding-bottom: 60px;
}
.list2 li{
    width: 600px;
    line-height: 18px;
    color: #3f495a;
    text-transform: uppercase;
}
.list2 h4{
    font-size: 23px;
    font-weight: 900;
    color: #323e4f;
    padding-bottom: 15px;
}
.header5 h2{
    text-align: center;
    margin: 60px 0px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700;
    margin-top: -220px;
}
.review{
    text-align: center;
    margin: 0px 0px 40px ;
    
}
.review p{
    padding: 25px 0px 0px;
    color: #3f495a;
    line-height: normal;
}

footer{
    background: url(../img/bg4.jpg) center/cover no-repeat;
    padding-bottom: 100px;
}
.header6 h2{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline #d17700;
}
.main3 p{
    text-align: center;
    margin: 30px 0px ;
    color: #fff;
}
.test2{
    display: flex;
    text-align: center;
    color: #fff; 
}
.main3 li{
    width: 600px;
    color: #fff;
}
.icons3{
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}
.main3 li a{
    color: #fff;
}
.main3 li a:visited{
    color: darkgray;
}
.main3 h4{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin:30px 0px;
}
.button{
    text-align: center;
}
.button input{
    width: 300px;
    height: 27px;
    padding-left: 10px;
    background-color: #d2d6dc;
    margin-right: 20px; 
}
.button textarea{
    margin-top: 20px;
    /*width: 625px;*/
    height:100px;
    margin-right: 20px;
    padding: 10px 0px 0px 10px;
    background-color: #d2d6dc;
}
input.last_button{
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    width: 100px;
    height: 35px;
    padding-right: 5px;
    margin-top: 20px;
    transition: 0.2s;
    transform: scale(1)
}
input.last_button:active{
    transform: scale(0.8)
}
.field:focus{
    background-color: #fff;
    border: 1px solid #e88604;  
}
.button textarea:focus{
    background-color: #fff;
    border: 1px solid #e88604; 
}